---
import { db, User } from "astro:db";
import Layout from "../components/Layout.astro";
import UserRow from "../components/UserRow.tsx";

const users = await db.select().from(User);
---

<Layout title="User CRUD">
  <h1 class="py-6 text-2xl font-bold">Users</h1>
  <div
    class="grid grid-cols-4 divide-y divide-slate-300 rounded-md border border-slate-300 text-start text-sm font-medium dark:divide-slate-600 dark:border-slate-600"
  >
    <div class="col-span-5 grid grid-cols-subgrid">
      <div class="px-4 py-2">First Name</div>
      <div class="px-4 py-2">Last Name</div>
      <div class="px-4 py-2">Email</div>
      <div class="px-4 py-2">Password</div>
      <div class="col-start-5 px-4 py-2">&nbsp;</div>
    </div>
    {users.map((user) => <UserRow user={user} client:load />)}
    <UserRow client:load />
  </div>
</Layout>
